absl-py
astunparse
blinker
cachetools
certifi
charset-normalizer
click
colorama
Flask
Flask-Cors
flatbuffers
gast
grpcio
gunicorn
h5py
idna
itsdangerous
Jinja2
joblib
keras
libclang
Markdown
markdown-it-py
MarkupSafe
mdurl
ml-dtypes
namex
numpy
oauthlib
opencv-python
opt-einsum
optree
packaging
protobuf
pyasn1
pyasn1_modules
Pygments
python-dateutil
pytz==2024.1
regex
requests
requests-oauthlib
rich
rsa
scipy
six
tensorflow
tensorflow-io-gcs-filesystem
termcolor
threadpoolctl
tomli
tqdm
typing_extensions
tzdata
urllib3
Werkzeug
wrapt
